#chessboard {
    display: grid;
    grid-template-columns: repeat(8, 50px);
    grid-template-rows: repeat(8, 50px);
}

.cell {
    width: 50px;
    height: 50px;
}

.cell.white {
    background-color: #eae5d6;
}

.cell.black {
    background-color: #b4c187;
}

.knight {
    width: 50px;
    height: 50px;
    background-image: url("./images/knight.png");
    background-size: cover;
}

.route-table-container {
    max-height: 552px;
    overflow-y: auto;
}

.card-header {
    background-color: #496231;
    color: white;
}

.card-body {
    background-color: #bdbd9b;
}

#startBtn {
    background-color: #28410b;
}

#stopBtn {
    background-color: #526241;
}

#cleanBtn {
    background-color: #879263;
}

#btn-info {
    background-color: #2a3a30;
}

.btn-group button {
    padding: 10px 20px;
    border: none;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-group button:hover {
    opacity: 0.8;
}

#startBtn:disabled,
#stopBtn:disabled,
#cleanBtn:disabled {
    opacity: 0.2;
    cursor: not-allowed;

}

.btn-group button:active {
    transform: translateY(2px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.table th,
.table td {
    color: white;
}

.route-table-container::-webkit-scrollbar {
    width: 8px;
}

.route-table-container::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 4px;
}

.carousel-control-prev,
.carousel-control-next,
.carousel-indicators button {
    opacity: 0.01;
    background-color: grey;
    border: none;
    outline: none;
}

.sm-img {
    max-width: 350px;
    height: auto;
}